body{
    background-color: aquamarine;
    margin:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.topnav{
    overflow: hidden;
    background-color:blueviolet;
    text-align: left;
    padding: 10px;
    padding-right:10px;
}
.topnav a{
    float: left;
    color: blanchedalmond;
    text-align: center;
    padding:15px 16px;
    text-decoration: none;
    font-size::20px;
}
.topnav a:hover{
    background-color: rgb(255, 0, 212);
    color:rgb(189, 140, 141);
}
.topnav a.activ{
    background-color: forestgreen;
    color: rgba(red, green, b);
}